[submodule "libspeedb-sys/snappy"]
	path = libspeedb-sys/snappy
	url = https://github.com/google/snappy.git
[submodule "libspeedb-sys/speedb"]
	path = libspeedb-sys/speedb
	url = https://github.com/speedb-io/speedb.git
